.chatSide{
  height: 100%;
  padding-top: 20px;
  border-left: 1px solid #eee;
}
.sideNotice{
  height: 120px;
  padding: 0 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.sideMember{
  padding-top: 10px;
}
.sideMemberSearch{
  padding: 0 10px;
}
.memberItemStyle{
  padding: 5px 10px;
}