.register{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  h1{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
  }
  .form{
    width: 400px;
    padding-top: 30px;
    padding-right: 30px;
    border-radius: 6px;
    background-color: #fff;
  }
  .submit{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
    button{
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}