.forgot{
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
}
.captcha{
  display: flex;
}
.submit{
  display: flex;
  justify-content: flex-end;
  button{
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }
}