.spinWrap {
  width: 100%;
  height: 100%;

  :global {
    .ant-spin-container {
      height: 100%;
    }
  }
}

.inputPanel {
  padding-bottom: 20px;
  h1 {
    height: 50px;
    line-height: 50px;
    color: #1890ff;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #1890ff;
  }
}

.account,
.password {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

  >div:first-child {
    width: 60px;
    text-align: justify;
  }
}

.input {
  width: 240px;
  height: 25px;
}
.captcha{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  input{
    width: 130px;
    margin-right: 10px;
    margin-left: 18px;
  }
  button{
    width: 100px;
  }
  .svg{
    cursor: pointer;
  }
}

.loginBtn {
  margin-top: 20px;
  padding: 0 45px;
}
.other{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: 30px;
  button{
    &:last-child{
      margin-right: 0;
    }
  }
}