.msgItem {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  margin-bottom: 10px;
}

.isMe {
  justify-content: flex-end;
  padding-right: 10px;
}
.sender {
  display: flex;
  margin-bottom: 5px;
  padding-right: 0;
}
.container {
  max-width: 80%;
}
.content {
  background-color: #f1f1f1;
  border-radius: 0 4px 4px 4px;
  padding: 5px 10px;
  word-break: break-all;
  &.isMe {
    background-color: #f3f9ff;
    border-radius: 4px 0 4px 4px;
  }
}
