.msgItem{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  margin-bottom: 10px;
}

.isMe{
  justify-content: flex-end;
  padding-right: 10px;
}
.sender{
  display: flex;
  margin-bottom: 5px;
  padding-right: 0;
}
.container {
  max-width: 80%;
}
.content{
  background-color: #F1F1F1;
  border-radius: 0 8px 8px 8px;
  padding: 5px 10px;
  word-break: break-all;
  &.isMe{
    background-color: #F3F9FF;
    border-radius: 8px 0 8px 8px;
  }
}