.historyStatus {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.loading {
  @extend .historyStatus;
  color: #efefef;
}
.none {
  @extend .historyStatus;
  color: #ddd;
}
.normal {
  @extend .historyStatus;
  color: blue;
  cursor: pointer;
}
